{% extends "semic_core_voc.j2" %}

{% block summary %}
<p>
	The Core Criterion and Core Evidence Vocabulary (CCCEV) is designed to support the exchange of information between organisations or persons (more generally agents) defining requirements and organisations or persons responding to these requirements by means of structured or unstructured evidences.
</p>
<p>
	The Core Criterion and Core Evidence Vocabulary (CCCEV) contains two basic and complementary core concepts:
	<ul>
		<li>
			The requirement, something used as the basis for making a judgement or decision, e.g. a requirement set in a public tender or a condition that has to be fulfilled for a public service to be executed; and
		</li>
		<li>
			The evidence, the data proving or disproving that a requirement is met or has been fulfilled, in particular an evidence is used to prove that a specific requirement is met by someone or by something.
		</li>
	</ul>
</p>
<p>
	CCCEV is shaping a general framework around these core concepts. However, implementations have to make decisions on how the framework is actually used by elaborating further the Core Vocabulary to make it applicable in their specific context. 
</p>
<p>
	An explanatory example that helps the reader to better understand this specification can be found <a href="site-skeleton/cccev/CCCEV_AnExplantoryExample.pdf">here</a>.
</p>
{% endblock %}

{% block license %}
<p>This specification of <a href=”https://joinup.ec.europa.eu/collection/semantic-interoperability-community-semic”>SEMIC</a> is published under “<a href=”https://joinup.ec.europa.eu/licence/isa-open-metadata-licence-v11>ISA Open Metadata Licence 1.1</a>”.</p>
{% endblock %}

{% block placeholder %}
<p>A changelog comparing this version of CCCEV to older versions can be found <a href="site-skeleton/cccev/Changelog.pdf"here</a>.</p>
{% endblock %}
