{% extends "iceg_public_service_ap.j2" %}

{% block summary %}
<p>
The model presented below is an application profile of Core Public Service Vocabulary (CPSV), built in the context of the ICEG thematic working group regrouping experts from the federal and regional level as well as communities. It was designed through a series of workshops and a final open consultation.

The objective was to standardize the terms defined for public services at regional and federal level, starting from CPSV-AP. It serves the purpose to make data accessible as linked open data and to define standard interfaces (APIs) to simplify collaboration and integration of the various services and tools.

The Core Public Service Vocabulary is designed to support the exchange of basic information about public services. Using the vocabulary – with sector- or country-specific information – will make it easier for institutions publishing data about public services.

The Core Public Service Vocabulary is designed to describe the public service itself. Whilst the vocabulary may support links to evidence or public organization; other resources such as relevant legislation, channel or agent are not described in detail.

As the name suggests, the vocabulary is not concerned with features associated with commercial services such as profit or margin

Whenever possible, the Core Public Service Vocabulary will reuse existing vocabularies to avoid defining new terms. As such, it reuses schema, org, foaf, core location, core person, amongst others.

</p>
{% endblock %}

{% block license %}
<p>This specification of <a href=”https://joinup.ec.europa.eu/collection/semantic-interoperability-community-semic”>SEMIC</a> is published under “<a href=”https://joinup.ec.europa.eu/licence/isa-open-metadata-licence-v11”ISA Open Metadata Licence 1.1</a>”.</p>
{% endblock %}

{% block changelog %}
<p>
No changelog defined.
<p>
{% endblock %}
