{% extends "iceg_public_organisation_ap.j2" %}

{% block summary %}
<p>
The model presented below is an application profile of Core Public Organization Vocabulary (CPOV), built in the context of the ICEG thematic working group regrouping experts from the federal and regional level as well as communities. It was designed through a series of workshops and a final open consultation.
<br><br>
The objective was to standardize the terms defined for public organizations at regional and federal level, starting from CPOV. It serves the purpose to make data accessible as linked open data and to define standard interfaces (APIs) to simplify collaboration and integration of the various services and tools.
<br><br>
The Core Public Organization Vocabulary is designed to support the exchange of basic information about public organizations. Using the vocabulary – with sector- or country-specific information – will make it easier for institutions publishing data about public organizations.
<br><br>
The Core Public Organization Vocabulary is designed to describe the organization itself. Whilst the vocabulary may support links to staff members other resources such as relevant legislation, policies and jurisdictional coverage, it will not describe those resources in detail.
<br><br>
As the name suggests, the vocabulary is not concerned with features associated with commercial entities such as shareholdings and ownership.
<br><br>
Whenever possible, the CPOV will reuse existing vocabularies to avoid defining new terms. As such, it reuses schema, org, foaf, core location, core person, amongst others.

</p>
{% endblock %}

{% block license %}
<p>This specification of <a href=”https://joinup.ec.europa.eu/collection/semantic-interoperability-community-semic”>SEMIC</a> is published under “<a href=”https://joinup.ec.europa.eu/licence/isa-open-metadata-licence-v11”ISA Open Metadata Licence 1.1</a>”.</p>
{% endblock %}

{% block changelog %}
<p>
No changelog defined.
</p>
{% endblock %}
