{% extends "iceg_person_ap_de.j2" %}

{% block summary %}
<div id="tabs">
  <ul>
    <li><a href="#tabs-1">English</a></li>
    <li><a href="#tabs-2">French</a></li>
    <li><a href="#tabs-3">Dutch</a></li>
	<li><a href="#tabs-4">German</a></li>
  </ul>
  <div id="tabs-1">
    <p>The model presented below is an application profile of the theme ‘Person’.</p>
  </div>
  <div id="tabs-2">
    <p>Le modèle présenté ci-dessous est un profil d'application du thème "Personne".</p>
  </div>
  <div id="tabs-3">
    <p>Het onderstaande model is een applicatieprofiel over het thema "Persoon".</p>
  </div>
   <div id="tabs-4">
    <p>Das im Folgende vorgestellte Modell ist ein Anwendungsprofil für das Thema "Person".</p>
  </div>
</div>
 
<br><br>
<p>Namespaces:</p>

    <table id="table-namespaces" class="simple">
      <thead>
      <tr>
        <th>Prefix</th>
        <th>Namespace IRI</th>
        <th>Source</th>
      </tr>
      </thead>
      <tbody>
	   <tr>
        <td><code>adms</code></td>
        <td><code>http://www.w3.org/ns/adms#</code></td>
        <td>[[VOCAB-ADMS]]</td>
      </tr>
	  	  <tr>
        <td><code>base</code></td>
        <td><code>http://inspire.ec.europa.eu/ont/base#</code></td>
        <td>[[INSPIRE BASE]]</td>
      </tr>
	  <tr>
        <td><code>building</code></td>
        <td><code>http://vocab.belgif.be/ns/building#</code></td>
        <td>[[VOCAB-BUILDING]]</td>
      </tr>
	   <tr>
        <td><code>dcterms</code></td>
        <td><code>http://purl.org/dc/terms/</code></td>
        <td>[[DCTERMS]]</td>
      </tr>
	   <tr>
        <td><code>geosparql</code></td>
        <td><code>http://www.opengis.net/ont/geosparql#</code></td>
        <td>[[OPENGIS-GEOSPARQL]]</td>
      </tr>
	  <tr>
        <td><code>gml</code></td>
        <td><code>http://www.opengis.net/ont/gml#</code></td>
        <td>[[OPENGIS-GML]]</td>
      </tr>
	  <tr>
        <td><code>locn</code></td>
        <td><code>http://www.w3.org/ns/locn#</code></td>
        <td>[[LOCN]]</td>
      </tr>
	  <tr>
        <td><code>qudt</code></td>
        <td><code>https://qudt.org/schema/qudt/</code></td>
        <td>[[QUDT]]</td>
      </tr>
      <tr>
        <td><code>rdf</code></td>
        <td><code>http://www.w3.org/1999/02/22-rdf-syntax-ns#</code></td>
        <td>[[RDF-SYNTAX-GRAMMAR]]</td>
      </tr>
      <tr>
        <td><code>rdfs</code></td>
        <td><code>http://www.w3.org/2000/01/rdf-schema#</code></td>
        <td>[[RDF-SCHEMA]]</td>
      </tr>
	 <tr>
        <td><code>sdo</code></td>
        <td><code>https://schema.org/</code></td>
        <td>[[SCHEMA.ORG]]</td>
      </tr>
	  <tr>
        <td><code>sf</code></td>
        <td><code>http://www.opengis.net/ont/sf#</code></td>
        <td>[[OPENGIS-SF]]</td>
      </tr>
	  <tr>
        <td><code>skos</code></td>
        <td><code>http://www.w3.org/2004/02/skos/core#</code></td>
        <td>[[SKOS-CORE]]</td>
      </tr>
      <tr>
        <td><code>xsd</code></td>
        <td><code>http://www.w3.org/2001/XMLSchema#</code></td>
        <td>[[XMLSCHEMA11-2]]</td>
      </tr>
      </tbody>
    </table>
</p>
</p>
{% endblock %}

{% block license %}
<p>This specification of <a href=”https://joinup.ec.europa.eu/collection/semantic-interoperability-community-semic”>SEMIC</a> is published under “<a href=”https://joinup.ec.europa.eu/licence/isa-open-metadata-licence-v11”ISA Open Metadata Licence 1.1</a>”.</p>
{% endblock %}

{% block changelog %}
<p>
No changelog defined.
<p>
{% endblock %}
