{% extends "iceg_building_ap.j2" %}

{% block summary %}
<p>
This trajectory is still ongoing, this means that this draft specification is still in development.
<br><br>
The model presented below is an application profile of the theme ‘Building’, built in the context of the ICEG thematic working group regrouping experts from the federal and regional level as well as communities. It was designed through a series of workshops and a final open consultation.
<br><br>
The objective was to standardize the terms defined for buildings and building units at regional and federal level, starting from INSPIRE, OSLO and BUNI. It serves the purpose to make data accessible as linked open data and to define standard interfaces (APIs) to simplify collaboration and integration of the various services and tools.
<br><br>
The Building Vocabulary is designed to support the exchange of basic information about buildings and building units. Using the vocabulary – with sector- or country-specific information – will make it easier for institutions publishing data about these topics.
<br><br>
<p>Please find below the namespaces used in the model:</p>

    <table id="table-namespaces" class="simple">
      <thead>
      <tr>
        <th>Prefix</th>
        <th>Namespace IRI</th>
        <th>Source</th>
      </tr>
      </thead>
      <tbody>
	   <tr>
        <td><code>adms</code></td>
        <td><code>http://www.w3.org/ns/adms#</code></td>
        <td>[[VOCAB-ADMS]]</td>
      </tr>
	  <tr>
        <td><code>building</code></td>
        <td><code>http://vocab.belgif.be/ns/building#</code></td>
        <td>[[VOCAB-BUILDING]]</td>
      </tr>
	   <tr>
        <td><code>geosparql</code></td>
        <td><code>http://www.opengis.net/ont/geosparql#</code></td>
        <td>[[OPENGIS-GEOSPARQL]]</td>
      </tr>
	  <tr>
        <td><code>gml</code></td>
        <td><code>http://www.opengis.net/ont/gml#</code></td>
        <td>[[OPENGIS-GML]]</td>
      </tr>
	  <tr>
        <td><code>locn</code></td>
        <td><code>http://www.w3.org/ns/locn#</code></td>
        <td>[[LOCN]]</td>
      </tr>
      <tr>
        <td><code>rdf</code></td>
        <td><code>http://www.w3.org/1999/02/22-rdf-syntax-ns#</code></td>
        <td>[[RDF-SYNTAX-GRAMMAR]]</td>
      </tr>
      <tr>
        <td><code>rdfs</code></td>
        <td><code>http://www.w3.org/2000/01/rdf-schema#</code></td>
        <td>[[RDF-SCHEMA]]</td>
      </tr>
	  <tr>
        <td><code>sf</code></td>
        <td><code>http://www.opengis.net/ont/sf#</code></td>
        <td>[[OPENGIS-SF]]</td>
      </tr>
      <tr>
        <td><code>xsd</code></td>
        <td><code>http://www.w3.org/2001/XMLSchema#</code></td>
        <td>[[XMLSCHEMA11-2]]</td>
      </tr>
      </tbody>
    </table>
</p>
</p>
{% endblock %}

{% block license %}
<p>This specification of <a href=”https://joinup.ec.europa.eu/collection/semantic-interoperability-community-semic”>SEMIC</a> is published under “<a href=”https://joinup.ec.europa.eu/licence/isa-open-metadata-licence-v11”ISA Open Metadata Licence 1.1</a>”.</p>
{% endblock %}

{% block changelog %}
<p>
No changelog defined.
<p>
{% endblock %}
